* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(30, 9, 65);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 252, 243);
}

header {
  padding: 20px auto;
  background-color: rgb(18, 7, 122);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: whitesmoke;
}

.main {
  margin: 20px auto;
  display: block;
  align-items: center;
  justify-content: center;
}

#panel {
  width: 80%;
  margin: 10px auto 10px auto;
}

.button {
  border-radius: 8px;
  background-color: rgb(18, 7, 122);
  color: white;
  padding: 10px;
  border: blue, solid, 2px;
  font-size: 14px;
}

.button:hover {
  background-color: rgb(7, 136, 223);
}

#instructions {
  width: 50%;
  margin: 35px auto 35px auto;
  color: #555555;
  text-align: center;
  font-size: 18px;
}

.title {
  margin: 35px auto 35px auto;
  font-size: larger;
  color: #333377;
  text-align: center;
}

.question {
  font-size: 38px;
}

#timer {
  margin: 20px;
}

.trivia {
  display: block;
  align-self: center;
  justify-self: center;
  width: 60%;
  margin: 35px auto 0 auto;
}

.trivia .button {
  padding: 5px 10px 5px 10px;
}

.answers {
  margin-bottom: 15px;
}

.listEl {
  text-decoration: none;
}

#checker {
  height: 40px;
  padding: 15px auto 15px 12px;
  border-top: 1px, solid, #555555;
  display: inline-block;
  text-align: left;
}
.ghost {
  color: #555555;
  opacity: 80%;
}
