* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(30, 9, 65);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 252, 243);
}

header {
  margin-top: 0;
  display: flex;
  height: 80px;
  width: 100%;
  padding: 20px auto;
  background-color: rgb(18, 7, 122);
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
}

header div {
  padding: 20px auto;
  width: 90%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#timer #nav {
  margin: 20px;
}

.notButn {
  color: white;
  text-decoration: none;
}

.notButn:visited {
  color: white;
  text-decoration: none;
}

.notButn:hover {
  color: white;
  text-decoration: none;
  text-shadow: #b2d8e4;
}

.main {
  margin: 20px auto;
  display: block;
  align-items: center;
  justify-content: center;
}

#panel {
  width: 80%;
  margin: 10px auto 10px auto;
}

.button {
  border-radius: 8px;
  background-color: rgb(18, 7, 122);
  color: white;
  padding: 10px;
  border: blue, solid, 2px;
  font-size: 14px;
}

.button:hover {
  background-color: rgb(7, 136, 223);
}

#instructions {
  width: 50%;
  margin: 35px auto 35px auto;
  color: #555555;
  text-align: center;
  font-size: 18px;
}

.title {
  margin: 35px auto 35px auto;
  font-size: larger;
  color: #333377;
  text-align: center;
}

.question {
  font-size: 38px;
}

.trivia {
  display: block;
  align-self: center;
  justify-self: center;
  width: 60%;
  margin: 35px auto 0 auto;
}

.trivia .button {
  padding: 5px 10px 5px 10px;
}

.answers {
  margin-bottom: 15px;
}

.listEl {
  text-decoration: none;
}

#checker {
  height: 40px;
  padding: 15px auto 15px 12px;
  border-top: 1px, solid, #555555;
  display: inline-block;
  text-align: left;
}
.ghost {
  color: #555555;
  opacity: 80%;
}

.table {
  background-color: #aabbe7;
  margin: 0 auto;
  max-width: 550px;
}

.board {
  width: 75%;
  line-height: 1.7;
  margin: 12px auto 12px auto;
  color: black;
  font-weight: bold;
}

li.score:nth-child(2n) {
  background-color: #b2d8e4;
}

.bottomBtns {
  margin: 25px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.bottomBtns button {
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
}

.score {
  font-size: 18px;
  padding: 5px;
}

.score span {
  margin-left: 85px;
}

footer {
  margin-top: 100px;
  color: #555555;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

footer h3 {
  margin: 30px;
}

footer span {
  color: #222299;
}
